services:

  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: arunt98/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  
  mongodb:
    build:
      context: ./mongodb
      dockerfile: Dockerfile
    image: arunt98/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  

  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data

  mysql:
    build: ./mysql
    image: arunt98/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql  
  
  rabbitmq:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - mysql:/var/lib/rabbitmq
    
  user:
    build:
      context: ./user
      dockerfile: Dockerfile
    image: arunt98/user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb
  
  cart:
    build:
      context: ./cart
      dockerfile: Dockerfile
    image: arunt98/cart:v1
    container_name: cart
    depends_on:
    - catalogue
    - redis
  
  
  shipping:
    build:
      context: ./shipping
      dockerfile: Dockerfile
    image: arunt98/shipping:v1
    container_name: shipping
    depends_on:
    - cart
    - mysql
  
   
  payment:
    build: 
      context: ./payment
      dockerfile: Dockerfile
    image: arunt98/payment:v1
    container_name: payment
    depends_on:
    - cart
    - user
    - rabbitmq
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: arunt98/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment


networks:
  default:
    driver: bridge
    name: roboshop
    external: true ### keep it true if you created the roboshop network using manual command

volumes:
  mongodb:
  mysql:
  redis:
  rabbitmq:
